* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 18px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
  }
}

input:focus-visible {
  outline: 2px solid #00a96c;
  outline-offset: 2px;
}

.link {
  color: #00a96c;
  font-weight: bold;
  cursor: pointer;
}

.label-error {
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 16px;
  position: relative;
  top: -12px;
}

/* Ajustes de editor */
.ce-block__content,
.ce-toolbar__content {
  max-width: 100%;
}

.codex-editor__redactor {
  padding-bottom: 48px !important;
}
