@import '@/app/variables.module.scss';

.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 20;
  display: flex;
  height: 100vh;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background-color: $gray-light-color;
  flex-basis: 25%;

  @media (max-width: 768px) {
    display: none;
  }
}

.header {
  padding: 40px 16px;
  background-color: $gray-dark-color;
}

.links {
  display: flex;
  flex: 1;
  flex-direction: column;

  a {
    border-bottom: 1px solid $gray-color;
    height: 60px;
    line-height: 60px;
    padding: 0 16px;

    span {
      position: relative;
      top: 2px;
      margin-right: 8px;

      @media (min-width: 1024px) {
        top: 3px;
      }
    }

    &:hover {
      background-color: $gray-color;
    }

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }

  .active {
    background-color: $primary-color;
    border-bottom: 0;
    color: $white-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}

.signOut {
  button {
    width: 100%;
    border: 0;
    border-top: 1px solid $gray-color;
    background-color: transparent;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
    text-align: left;

    span {
      position: relative;
      top: 2px;
      margin-right: 8px;

      @media (min-width: 1024px) {
        top: 3px;
      }
    }

    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }
}
